/* app/globals.css */
@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: #202124; /* Googleニュースっぽいダーク背景 */
  color: #e8eaed;
  padding: 0 50px 0;
}

/* スクロールバーを少し細く */
* {
  scrollbar-width: thin;
  scrollbar-color: #5f6368 transparent;
}

*::-webkit-scrollbar {
  width: 8px;
}

*::-webkit-scrollbar-track {
  background: transparent;
}

*::-webkit-scrollbar-thumb {
  background-color: #5f6368;
  border-radius: 999px;
}

.custom-header {
  margin-bottom: 30px;
  padding-bottom: 10px;
}

.custom-logo {
  font-size: 3rem;
}

.custom-searchbar {
  height: 40px;
  max-width: 60%;
}

.custom-searchbar input {
  /* background-color: #303134; */
  background-color: #ffffff;
  border: none;
  border-radius: 20px;
  padding: 0 15px;
  color: black;
}

.custom-aside {
  border-radius: 8px;
}

.custom-ul {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
  padding-inline-start: 0;
  margin-block-start: 0;
  margin-block-end: 0;
  list-style: none;
  margin: 20px 0;
}

.custom-ul li {
  margin-left: 20px;
}

.custom-important-points {
  line-height: 2;
  padding: 7px 4px 10px 3px;
  text-align: center;
}

.custom-news {
  margin-bottom: 20px;
  padding-left: 20px;
  border-radius: 8px;
}

.custom-newscard {
  border-radius: 8px;
  padding: 15px;
  margin-bottom: 15px;
  background-color: #2d2e30;
  transition: background-color 0.3s, box-shadow 0.3s;
}